@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #7309aa;
    color: #8b4fd8;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat Alternates', sans-serif;
}
a {
    color: #9bed00;
    text-decoration: none;
}

h4 {
    color: silver;
}

a:hover {
    text-decoration: underline;

}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: 	#9bed00;
}

.ava {
    width: 150px;
    border-radius: 20px;
}

.info {
display: flex;
margin-bottom: 20px;
}
.info-text{
    margin-left: 40px;
}
.info p  {
color: silver;
margin: 0;
font-style: italic;
 }

.container {
    max-width: 75%;
    margin: auto;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-gr {
    background: silver;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #8b4fd8;
    margin-bottom: 10px;
}

.table {
    width: 100%;

}

.table td {
    padding-bottom: 10px;
}

/* .table td:nth-child(2) {
    color: #9bed00;
    font-size: large;
} */

.contact h2 {
text-align: center;

}
.form-group label{
    display: block;
    font-size: 18px;
}

.form-group input ,
.form-group textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px;
    outline: none;
}